#contentTemplate{
    background-color: #2b542c;
    color: white;
}

#sidePanelTemplate{
    background-color: #2e6da4;
    color: white;

}

#contentBlock{
    margin-top: 100px;
}

#loginLink{
    float: right;
}

#logoutLink{
    float: right;
}

#profileLink{
    float: right;
}

#editProfileLink{
    float: right;
}

input {
    margin-top: 20px;
    margin-bottom: 20px;
}

#saveProfile{
    margin-top: 20px;
    margin-bottom: 20px;
}