/*#contentTemplate{*/
    /*background-color: #2b542c;*/
    /*color: white;*/
/*}*/

/*#sidePanelTemplate{*/
    /*background-color: #2e6da4;*/
    /*color: white;*/

/*}*/
.mainPagePanelsTitle{
    text-align: center;
}
.message-fields{
    margin-bottom: 10px;
}
#add-new-message{
    float: right;
}
.messageAdded{
    float: right;
}

#contentBlock{
    margin-top: 100px;
}

#loginLink{
    float: right;
}

#logoutLink{
    float: right;
}

#profileLink, #friendsLink{
    float: right;
}

#editProfileLink{
    float: right;
}

.credentials {
    margin-top: 20px;
    margin-bottom: 20px;
}

#saveProfile, #cancelEditProfile{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.profileImage{
    width: 200px;
}

#profileImageSmall{
    width: 200px;
}
/*User Card*/
.userData{
    font-weight: 600;
}



