<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div id="homeLink" class="navbar-text"><a href="#">Home</a></div>
        <% if (!id) { %>
        <div class="stats text-right"><div id="loginLink" class="navbar-text"><a href="#login">Login/register</a></div></div>
        <% } else { %>
        <div id="logoutLink" class="navbar-text"><a href="#logout">Logout</a></div>
        <div id="profileLink" class="navbar-text"><a href="#profile">Profile</a></div>
        <div id="friendsLink" class="navbar-text"><a href="#friends">Friends</a></div>
        <% } %>
    </div>
</nav>