<div class="col-lg-9 col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading mainPagePanelsTitle">
            <h3>Messages</h3>
            <nav>
                <ul class="pagination" id="messagesPagination"></ul>
            </nav>
        </div>
        <div class="panel-body" id="messages"></div>
        <div class="panel-footer" id="postMessageArea">
            <div class="new-message">
                <div class="row">
                    <div class="col-lg-12">
                        <input type="text" class="form-control message-fields" id="subject"
                               placeholder="Message subject"/>
                        <textarea class="form-control message-fields" rows="3" placeholder="Leave your message"
                                  id="description"></textarea>
                        <div class="col-lg-6">
                            <dl class="dl-horizontal profile-data-item">
                                <dt><span class="inline-block thin title">Message type:</span></dt>
                                <dd>
                                    <select class="form-control" id="type">
                                        <option value="message">Message</option>
                                        <option value="image">Image</option>
                                        <option value="video">Video</option>
                                    </select>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-lg-6">
                            <input type="text" class="form-control message-fields" id="attach_url"
                                   placeholder="If message type is video or image leave attachment URL" value=""/>
                        </div>
                        <button id="postMessage" class="btn btn-primary"> Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>