<div class="col-lg-3 col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading mainPagePanelsTitle">
            <h3>My Friends(<span id="friendsCount"></span>) <button class="btn btn-info btn-sm" id="friendsFilterToggle">Filter</button></h3>
            <div id="friendsFilter">
            <input type="text" class="form-control friendsFilterFields" data-field="first_name" placeholder="First Name">
            <input type="text" class="form-control friendsFilterFields" data-field="last_name" placeholder="Last Name">
            <input type="text" class="form-control friendsFilterFields" data-field="twitter" placeholder="Twitter">
            <input type="text" class="form-control friendsFilterFields" data-field="gender" placeholder="Gender">
            <input type="text" class="form-control friendsFilterFields" data-field="age" placeholder="Age">
            </div>
            <nav>
                <ul class="pagination" id="friendsPagination"></ul>
            </nav>
        </div>
        <div class="panel-body">
            <div id="friends"></div>
        </div>
    </div>
</div>