<div class="col-lg-4">
    <% if (image_url) { %>
    <img class="profileImageBig" src="<%= image_url %>" alt="<%= first_name %>">
    <% } else { %>
    <img class="profileImageBig" src="./../images/noImages.jpg" alt="user has no image>">
    <% } %>

    <% if (messages > 0) { %>
    <% if (loggedInUser == true) { %>
    <h4>You have <%= messages %> wall posts...</h4>
    <% } else { %>
    <h4>Has <%= messages %> wall posts...</h4>
    <% } %>
    <% } else { %>
    <h4>No wall posts...</h4>
    <% } %>

</div>
<div class="col-lg-8">
    <% if (isFriend == true) { %>
    <h3> Friend's profile Data </h3>
    <% } %>
    <% if (loggedInUser == false && isFriend == false) { %>
    <h3> User's profile Data </h3>
    <% } %>
    <% if (loggedInUser == true) { %>
    <h3> Your profile Data </h3>
    <% } %>

    <hr/>

    <dl class="dl-horizontal">
        <dt>First Name:</dt>
        <dd>
            <!-- first_name -->
            <%= first_name !== null ? first_name : "Unknown" %>
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Last Name:</dt>
        <dd>
            <!-- last_name -->
            <%= last_name !== null ? last_name : "Unknown" %>
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>Email:</dt>
        <dd>
            <!-- Email -->
            <%= email %>
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Birthday:</dt>
        <dd>
            <%= birthday %>
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Phone:</dt>
        <dd>
            <!-- Phone -->
            <%= phone %>
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Address:</dt>
        <dd>
            <!-- address -->
            <%= address %>
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Twitter Account:</dt>
        <dd>
            <!-- twitter -->
            <%= twitter %>
        </dd>
    </dl>

    <dl class="dl-horizontal">
        <dt>About Yourself:</dt>
        <dd>
            <!-- description -->
            <%= description %>
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Status Message:</dt>
        <dd>
            <!-- Status -->
            <%= status %>
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt><span class="inline-block thin title"> Gender: </span></dt>
        <dd>
            <!-- Gender -->
            <%= gender %>
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt><span class="inline-block thin title"> Registered: </span></dt>
        <dd>
            <!-- Gender -->
            <%= created_at %>
        </dd>
    </dl>
    <% if (loggedInUser) {%>
    <a href="#edit/profile" class="btn btn-warning btn-lg pull-right buttonsInProfilePage">Edit Profile</a>
    <% } else { %>
    <a href="#friends" class="btn btn-warning btn-lg pull-right buttonsInProfilePage">Back to friends</a>
    <% if (isFriend) {%>
    <a href="#friends" id="removeFriend" data-id="<%= id %>" class="btn btn-danger btn-lg pull-right buttonsInProfilePage">Delete from friends</a>
    <% } else { %>
    <a href="#friends" id="addFriend" data-id="<%= id %>" class="btn btn-success btn-lg pull-right buttonsInProfilePage">Add to friends</a>
    <% }%>
    <% } %>

</div>