<div class="col-lg-9 col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading mainPagePanelsTitle">
            <h3>Search users</h3>
            <div class="form-group form-inline">
                <input type="text" class="form-control" id="firstNameInput" placeholder="First Name">
                <input type="text" class="form-control" id="lastNameInput" placeholder="Last Name">
                <button class="btn btn-info form-control" id="search">Search</button>
            </div>
            <nav>
                <ul class="pagination" id="usersPagination"></ul>
            </nav>
        </div>
        <div class="panel-body" id="users"></div>
        <div class="panel-footer"></div>
    </div>
</div>