<div class="col-lg-3 col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading mainPagePanelsTitle" id="sidePanelHeader">
        </div>
        <div class="panel-body message_text">
            <% if (image_url) { %>
            <img class="profileImage" src="<%= image_url %>" alt="<%= first_name %>">
            <% } else { %>
            <img class="profileImage" src="./../images/noImages.jpg" alt="user has no image>">
            <% } %>
            <h4><%= first_name %></h4>
            <h4><%= last_name %></h4>
            <h4><%= email %></h4>
            <h4>About me</h4>
            <div><%= description %></div>
            <% if (image_url) { %>
            <a href="#user/<%= id %>/tweets" ><img id="twitter" src="./../images/twitter.png"></a>
            <% } %>
        </div>
    </div>
</div>
