<div class="col-lg-9 col-md-9">
    <a class="twitter-timeline" href="https://twitter.com/<%= twitter %>" data-width="520" data-height="800" data-widget-id="720493780546228224" data-screen-name="<%= twitter %>">Tweets by <%= twitter %></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>