<div class="well">
    <div class="row">
        <div class="col-lg-11 col-sm-11">
            <div class="friend-data">
                <p class="userData"><%= first_name %> <%= last_name %> </p>
            </div>
        </div>
        <div class="col-lg-1 col-sm-1">
            <div class="friend-controls">
                <% if (!isFriend) { %>
                <button class="btn btn-sm btn-success addFriend" data-id="<%= id %>" data-toggle="tooltip"
                        data-placement="top" title="Add to friends">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <% } %>
            </div>
        </div>
    </div>
</div>
</div>