<div class="friend-card well-lg">
    <div class="row">
        <div class="col-lg-4 col-sm-4">
            <div class="friend-logo">
                <img class="img-responsive" src="<%= image_url %>" alt="<%= first_name %>">
            </div>
        </div>
        <div class="col-lg-8 col-sm-8">
            <div class="friend-data">
                <p class="user-name"><%= first_name %> <%= last_name %> </p>
                <p class="user-status"><%= status %></p>
            </div>
        </div>
        <!--<div class="friend-controls">-->
            <!--<span id="delete-friend" class="fa fa-meh-o" data-toggle="tooltip" data-placement="top" title="Remove from list"></span>-->
            <!--<a href="#/profile/<%= id %>">-->
                <!--<span id="view-friend" class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="View profile"></span>-->
            <!--</a>-->
        <!--</div>-->
    </div>
</div>