<div class="friend-card well-lg">
    <div class="row">
        <div class="col-lg-4 col-sm-4">
            <div class="friend-logo">
                <img class="profileImage" src="<%= image_url %>" alt="<%= first_name %>">
            </div>
        </div>
        <div class="col-lg-8 col-sm-8">
            <div class="friend-data">
                <p class="userData"><%= first_name %> <%= last_name %> </p>
                <p><span class="userData">Status: </span><%= status %></p>
                <p><span class="userData">About user: </span><%= description %></p>
                <p><span class="userData">Joined: </span><%= created_at %></p>
            </div>
            <div class="friend-controls">
                <% if (isFriend) { %>
                <button class="btn btn-sm btn-danger removeFriend" id="removeFriend" data-id="<%= id %>" data-toggle="tooltip"
                        data-placement="top" title="Remove this friend">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <% } else { %>
                <button class="btn btn-sm btn-success addFriend" id="addFriend" data-id="<%= id %>" data-toggle="tooltip"
                        data-placement="top" title="Add to friends">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                </button>
                <% } %>
                <button class="btn btn-sm btn-info viewProfile" id="viewProfile" data-id="<%= id %>" data-toggle="tooltip"
                        data-placement="top" title="View profile">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>